<%= render "shared/data_sharing_tabs", active: :trend_signals %>

<%= page_header do %>
  <%= t(".trend_signals") %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= Content.human_attribute_name(:uri) %></th>
      <th><%= TrendSignal.human_attribute_name(:created_at) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @trend_signals.each do |trend_signal| %>
      <tr class="even:bg-blue-50">
        <%= td do %>
          <%= link_to trend_signal.content.uri, content_path(trend_signal.content), class: "underline" %>
        <% end %>
        <%= td do %><%= trend_signal.created_at %><% end %>
        <%= td do %>
          <%= action_link_to t(".destroy"), trend_signal_path(trend_signal), data: {turbo_method: :delete} %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
