<%= page_header do %>
  <%=t ".sign_up" %>
<% end %>

<%= form_with model: @registration, url: fasp_base.registration_path do |form| %>
  <% if form.object.errors.any? %>
    <ul>
      <% form.object.errors.full_messages.each do |message| %>
        <li class="text-red-600"><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="flex flex-col">
    <%= form.label :email %>
    <%= form.email_field :email, required: true, autofocus: true %>

    <%= form.label :password %>
    <%= form.password_field :password, required: true %>

    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, required: true %>

    <%= form.label :base_url %>
    <%= form.url_field :base_url, required: true %>

    <% if registration_invite_only? %>
      <%= form.label :invitation_code %>
      <%= form.url_field :invitation_code, required: true %>
    <% end %>
  </div>

  <div class="my-4">
    <%= button type: :submit do %>
      <%= t(".sign_up") %>
    <% end %>
  </div>
<% end %>
