<%= page_header do %>
  <%= t(".logged_requests") %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Base URL</th>
      <th>IP address</th>
      <th>Timestamp</th>
      <th>Payload</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr class="even:bg-blue-50">
        <%= td do %><%= log.fasp_base_server.base_url %><% end %>
        <%= td do %><%= log.ip %><% end %>
        <%= td do %><%= log.created_at %><% end %>
        <%= td do %>
          <code class="font-mono">
            <%= log.request_body %>
          </code>
        <% end %>
        <%= td do %>
          <%= action_link_to t(".destroy"), log_path(log), data: {turbo_method: :delete} %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
