<div class="flex justify-between items-center">
  <%= page_header do %>
    <%= t(".content") %>
  <% end %>
  <%= button_link_to t(".destroy"), content_path(@content), data: {turbo_method: :delete} %>
</div>

<p>
  <b><%= Content.human_attribute_name(:uri) %></b>
  <%= @content.uri %>
</p>
<p>
  <b><%= Content.human_attribute_name(:object_type) %></b>
  <%= @content.object_type %>
</p>
<p>
  <b><%= Content.human_attribute_name(:created_at) %></b>
  <%= @content.created_at %>
</p>
<p>
  <b><%= Content.human_attribute_name(:updated_at) %></b>
  <%= @content.updated_at %>
</p>

<p>
  <b><%= Content.human_attribute_name(:full_object) %></b>
</p>

<pre class="rounded-sm bg-gray-100 p-2">
<%= JSON.pretty_generate(@content.full_object) %>
</pre>
