<%= render "shared/data_sharing_tabs", active: :subscriptions %>

<%= page_header do %>
  <%= t(".subscriptions") %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= FaspDataSharing::Subscription.human_attribute_name(:fasp_base_server) %></th>
      <th><%= FaspDataSharing::Subscription.human_attribute_name(:category) %></th>
      <th><%= FaspDataSharing::Subscription.human_attribute_name(:subscription_type) %></th>
      <th><%= FaspDataSharing::Subscription.human_attribute_name(:created_at) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr class="even:bg-blue-50">
        <%= td do %><%= subscription.fasp_base_server.base_url %><% end %>
        <%= td do %><%= subscription.category %><% end %>
        <%= td do %><%= subscription.subscription_type %><% end %>
        <%= td do %><%= subscription.created_at %><% end %>
        <%= td do %>
          <%= action_link_to t(".destroy"), subscription_path(subscription), data: {turbo_method: :delete}, class: "font-bold text-sm hover:underline hover:text-red-400" %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="mt-4 flex gap-4">
  <% if content_subscription_absent? %>
    <%= form_with url: subscriptions_path do |form| %>
      <%= hidden_field_tag :type, "content" %>
      <%= button type: :submit do %>
        <%= t(".create_content_subscription") %>
      <% end %>
    <% end %>
  <% end %>

  <% if account_subscription_absent? %>
    <%= form_with url: subscriptions_path do |form| %>
      <%= hidden_field_tag :type, "account" %>
      <%= button type: :submit do %>
        <%= t(".create_account_subscription") %>
      <% end %>
    <% end %>
  <% end %>

  <% if trends_subscription_absent? %>
    <%= form_with url: subscriptions_path do |form| %>
      <%= hidden_field_tag :type, "trends" %>
      <%= button type: :submit do %>
        <%= t(".create_trends_subscription") %>
      <% end %>
    <% end %>
  <% end %>
</div>
