<div class="flex gap-2 my-4 border-b border-blue-100">
  <span class="bg-blue-100 p-2">
    <%= t(".subscriptions") %>
  </span>
  <%= link_to t(".contents"), contents_path, class: "hover:bg-blue-50 p-2" %>
  <%= link_to t(".accounts"), contents_path, class: "hover:bg-blue-50 p-2" %>
</div>

<h1 class="text-2xl font-bold mb-4"><%= t(".subscriptions") %></h1>

<table class="border-separate border-spacing-2">
  <thead>
    <tr>
      <th>Server</th>
      <th>Category</th>
      <th>Type</th>
      <th>Created at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr class="even:bg-blue-50">
        <td><%= subscription.fasp_base_server.base_url %></td>
        <td><%= subscription.category %></td>
        <td><%= subscription.subscription_type %></td>
        <td><%= subscription.created_at %></td>
        <td>
          <%= link_to t(".destroy"), subscription_path(subscription), data: {turbo_method: :delete}, class: "font-bold text-sm hover:underline hover:text-red-400" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @subscriptions.none? %>
  <%= form_with url: subscriptions_path do |form| %>
    <%= form.button t(".create"), class: "bg-blue-400 text-white font-bold rounded px-4 py-2" %>
  <% end %>
<% end %>
