<%= render "shared/data_sharing_tabs", active: :subscriptions %>

<h1 class="text-2xl font-bold mb-4"><%= t(".subscriptions") %></h1>

<table class="border-separate border-spacing-2">
  <thead>
    <tr>
      <th>Server</th>
      <th>Category</th>
      <th>Type</th>
      <th>Created at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr class="even:bg-blue-50">
        <td><%= subscription.fasp_base_server.base_url %></td>
        <td><%= subscription.category %></td>
        <td><%= subscription.subscription_type %></td>
        <td><%= subscription.created_at %></td>
        <td>
          <%= link_to t(".destroy"), subscription_path(subscription), data: {turbo_method: :delete}, class: "font-bold text-sm hover:underline hover:text-red-400" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="flex gap-4">
  <% if content_subscription_absent? %>
    <%= form_with url: subscriptions_path do |form| %>
      <%= hidden_field_tag :type, "content" %>
      <%= form.button t(".create_content_subscription"), class: "bg-blue-400 text-white font-bold rounded px-4 py-2" %>
    <% end %>
  <% end %>

  <% if account_subscription_absent? %>
    <%= form_with url: subscriptions_path do |form| %>
      <%= hidden_field_tag :type, "account" %>
      <%= form.button t(".create_account_subscription"), class: "bg-blue-400 text-white font-bold rounded px-4 py-2" %>
    <% end %>
  <% end %>

  <% if trends_subscription_absent? %>
    <%= form_with url: subscriptions_path do |form| %>
      <%= hidden_field_tag :type, "trends" %>
      <%= form.button t(".create_trends_subscription"), class: "bg-blue-400 text-white font-bold rounded px-4 py-2" %>
    <% end %>
  <% end %>
</div>
