<%= render "shared/data_sharing_tabs", active: :accounts %>

<%= page_header do %>
  <%= t(".accounts") %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= Account.human_attribute_name(:uri) %></th>
      <th><%= Account.human_attribute_name(:object_type) %></th>
      <th><%= Account.human_attribute_name(:created_at) %></th>
      <th><%= Account.human_attribute_name(:updated_at) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr class="even:bg-blue-50">
        <%= td do %><%= account.uri %><% end %>
        <%= td do %><%= account.object_type %><% end %>
        <%= td do %><%= account.created_at %><% end %>
        <%= td do %><%= account.updated_at %><% end %>
        <%= td do %>
          <%= action_link_to t(".show"), account_path(account) %>
          <%= action_link_to t(".destroy"), account_path(account), data: {turbo_method: :delete} %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
