<%= render "shared/data_sharing_tabs", active: :accounts %>

<h1 class="text-2xl font-bold mb-4"><%= t(".accounts") %></h1>

<table class="border-separate border-spacing-2">
  <thead>
    <tr>
      <th><%= Account.human_attribute_name(:uri) %></th>
      <th><%= Account.human_attribute_name(:object_type) %></th>
      <th><%= Account.human_attribute_name(:created_at) %></th>
      <th><%= Account.human_attribute_name(:updated_at) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr class="even:bg-blue-50">
        <td><%= account.uri %></td>
        <td><%= account.object_type %></td>
        <td><%= account.created_at %></td>
        <td><%= account.updated_at %></td>
        <td>
          <%= link_to t(".show"), account_path(account), class: "font-bold text-sm hover:underline hover:text-red-400" %>
          <%= link_to t(".destroy"), account_path(account), data: {turbo_method: :delete}, class: "font-bold text-sm hover:underline hover:text-red-400" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
