<%= page_header do %>
  <%=t ".registration_successful" %>
<% end %>

<p><%=t ".finish_registration_instructions" %></p>

<p class="my-2 font-bold"><%=t ".key_fingerprint" %></p>

<code class="block my-2 rounded-sm p-2 font-mono bg-gray-200">
  <%= @server.fasp_public_key_fingerprint %>
</code>

<%= button_link_to t(".finish_setup_link"), @server.registration_completion_uri, target: "_blank" %>

